---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="PROJECTS">
  <Header />

  <main class="max-w-180 mx-auto px-6 py-12">
    <h1 class="text-4xl font-mono-bold mb-8 text-accent">PROJECT</h1>

    <div class="py-4">
      <p class="text-xl font-mono text-text/50 animate-pulse">Coming Soon...</p>
    </div>
  </main>
</Layout>
