---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <main class="flex justify-center px-6 py-12">
    <article class="w-full max-w-180 mx-auto text-center)">
      <header class="mb-12 pb-8 border-b border-text/10">
        <h1 class="text-5xl leading-tight mb-2 text-accent mx-auto">
          {post.data.title}
        </h1>
        {
          post.data.description && (
            <p class="text-base text-text/70 mb-4">{post.data.description}</p>
          )
        }
        <time class="text-base text-text/50 block">
          {post.data.date.toLocaleDateString()}
        </time>
      </header>

      <div
        class="post-content
        [&_p]:leading-loose [&_p]:my-6
        [&_h2]:mt-12 [&_h2]:text-[32px] [&_h2]:font-mono-bold
        [&_h3]:mt-8 [&_h3]:text-2xl [&_h3]:font-mono-bold
        [&_pre]:p-6 [&_pre]:rounded-lg [&_pre]:overflow-x-auto
        [&_code]:font-mono"
      >
        <Content />
      </div>
    </article>
  </main>
</Layout>
