@import "tailwindcss";
@font-face {
  font-family: 'IBMPlexMono';
  src: url('../assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBMPlexMonoBold';
  src: url('../assets/fonts/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-mono: "IBMPlexMono", monospace;
  --font-mono-bold: "IBMPlexMonoBold", monospace;
  --color-bg: var(--bg-color);
  --color-text: var(--text-color);
  --color-accent: var(--accent-color);
  --color-card: var(--card-bg);
  --color-accent-hover: var(--accent-hover);
}

:root {
  --bg-color: #f8fafc;
  --text-color: #383a42;
  --accent-color: #0a0a0a;
  --card-bg: #f0f0f0;
  --accent-hover: #0a0a0a;
}

@variant dark (&:where(.dark, .dark *));

:root.dark {
  --bg-color: #0a0a0a;
  --text-color: #abb2bf;
  --accent-color: #ffffff;
  --card-bg: #21252b;
  --accent-hover: #ffffff;
}

@layer base {
  html {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-mono);
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  h1, h2, h3 {
    color: var(--accent-color);
    font-family: var(--font-mono-bold);
  }
}