---
import Layout from "../layouts/Layout.astro";
---

<footer>
  <Layout>
    <p>© {new Date().getFullYear()} Ric5k.dev. All rights reserved.</p>
  </Layout>
</footer>
<style>
  footer {
    padding: 1.5rem 0;
    background-color: var(--footer-bg);
    color: var(--footer-text);
    text-align: center;
    font-size: 0.9rem;
  }
</style>
