---
import Toggle from "./Toggle.astro";
import "../styles/global.css";
---

<header
  class="grid grid-cols-3 items-center px-8 py-6 font-mono-bold text-text"
>
  <div></div>

  <nav class="flex justify-center items-center gap-8">
    <a
      href="/"
      class="hover:text-accent-hover hover:underline decoration-2 underline-offset-4 transition-colors"
    >
      HOME
    </a>
    <a
      href="/project"
      class="hover:text-accent-hover hover:underline decoration-2 underline-offset-4 transition-colors"
    >
      PROJECTS
    </a>
    <a
      href="/blog"
      class="hover:text-accent-hover hover:underline decoration-2 underline-offset-4 transition-colors"
    >
      BLOG
    </a>
    <Toggle />
  </nav>
  <div></div>
</header>
